.blur-it {
  filter: blur(4px);
}

.modal-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(41, 171, 164, 0.8);
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.modal-wrapper.open {
  opacity: 1;
  visibility: visible;
}
@media (max-width: 760px) {
  .modal {
    width: 100vh;
    padding: 20px 0 0 0;
    position: relative;
    background: #dee7e4;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    height: 60%;
    /* margin: 50px auto; */
  }
  .head {
    width: 100vh;

    background-color: #dee7e4;
  }
  .content {
    box-sizing: border-box;
    /* width: 100vh; */
    line-height: 20px;
    text-align: start;
    overflow: scroll;
    height: 80%;
  }
}
.modal {
  width: 60%;
  display: block;
  margin: 50% 0 0 -30%;
  position: relative;
  top: 50%;
  left: 50%;
  background: #dee7e4;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.modal-wrapper.open .modal {
  margin-top: -200px;
  opacity: 1;
}

.head {
  width: 100%;
  /* margin: 10px auto; */
  margin-top: 0;
  overflow: hidden;
  background: #dee7e4;
}

.btn-close {
  background-color: #dee7e4;
  font-size: 25px;
  border: 0;
  width: 30px;
  height: 27px;
  /* margin-left: 10px; */
  margin-right: 10px;
  text-align: center;
  display: block;
  float: right;
  color: rgb(151, 18, 18);
}

.content {
  display: flex;
  justify-content: center;
  line-height: 30px;
  background-color: light;
  padding: 5%;
}

.good-job {
  text-align: center;
  font-family: serif;
  color: #000ed1;
}

.good-job .fa-thumbs-o-up {
  font-size: 60px;
}

.good-job h1 {
  font-size: 45px;
}
.detail {
  width: 60px;
  background-color: #415c54;
  border-radius: 5px;
  color: rgb(188, 231, 31);
  padding: 7px 5px;
  margin: 10px;
  font-size: 15px;
}
