
body{

  background-color: rgb(241, 241, 247);
}

.containt {
  position: relative;
}

.banner {
  border: 1px rgb(241, 241, 247);
  position: relative;
  z-index: -3;
  box-sizing: border-box;
  width: 50%;
  text-align: center;
  background-color: rgb(241, 241, 247);
  margin-left: 20px;
}
.ban {
  width: 80%;
  display: flex;
}
.box {
  width: 15px;
  height: 15px;
  /* background-color: rgb(61, 61, 92); */
  position: relative;
  animation-name: berubah;
  border-radius: 100%;
  animation-duration: 3s;
  animation-iteration-count: 2;
  margin: 50px auto;
}
.box1 {
  width: 20px;
  height: 20px;
  background-color: rgb(61, 61, 92);
  position: relative;
  animation-name: berubah1;
  border-radius: 100%;
  animation-duration: 4s;
  animation-iteration-count: 3;
}
.box2 {
  width: 25px;
  height: 25px;
  background-color: rgb(61, 61, 92);
  position: relative;
  animation-name: berubah2;
  border-radius: 100%;
  animation-duration: 5s;
  animation-iteration-count: 4;
}

@keyframes berubah {
  0% {
    background-color: rgb(61, 61, 92);
    left: 0px;
    top: 0px;
  }
  105% {
    background-color: rgb(194, 174, 174);
    left: 200px;
    top: 0px;
  }
  80% {
    background-color: rgb(199, 199, 184);
    left: 200px;
    top: 200px;
  }
  100% {
    background-color: rgb(123, 133, 123);
    left: 0px;
    top: 200px;
  }
  1% {
    background-color: rgb(199, 199, 209);
    left: 0px;
    top: 0px;
  }
}
@keyframes berubah1 {
  100% {
    background-color: rgb(61, 61, 92);
    left: 0px;
    top: 0px;
  }
  35% {
    background-color: rgb(218, 191, 191);
    left: 200px;
    top: 0px;
  }
  10% {
    background-color: rgb(240, 240, 235);
    left: 200px;
    top: 200px;
  }
  70% {
    background-color: rgb(201, 209, 201);
    left: 0px;
    top: 200px;
  }
  0% {
    background-color: rgb(208, 208, 221);
    left: 0px;
    top: 0px;
  }
}
@keyframes berubah2 {
  65% {
    background-color: rgb(61, 61, 92);
    left: 0px;
    top: 0px;
  }
  35% {
    background-color: rgb(218, 191, 191);
    left: 200px;
    top: 0px;
  }
  10% {
    background-color: rgb(240, 240, 235);
    left: 200px;
    top: 200px;
  }
  70% {
    background-color: rgb(201, 209, 201);
    left: 0px;
    top: 200px;
  }
  90% {
    background-color: rgb(208, 208, 221);
    left: 0px;
    top: 0px;
  }
}
@media (max-width: 576px) {
  .banner img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
  }
  .banner {
    position: relative;
    z-index: -3;
  }
  .banner img:hover {
    transform: scale(1.2);
  }
}
.banner img {
  border-radius: 100%;
}
.banner img:hover {
  transform: scale(1.2);
}
.banner h4,
p {
  padding-left: 7px;
  color: rgb(15, 24, 6);
  padding-top: 0;
}

.about {
  color: white;
  text-align: center;
  padding-bottom: 20px;
  position: relative;
  z-index: -3;
  background-color: rgb(228, 225, 220);
}
#about p {
  letter-spacing: px;
  color: white;

  font-family: candara;
  font-size: 15px;
}

#about h3 {
  padding: 10px;
}
.skills {
  color: white;
  margin: 10px;
  background-color: rgb(228, 225, 220);
}
.skills h3 {
  padding: 20px;
  color: white;
  text-align: center;
}
.skills h5 {
  margin-left: 10px;
  margin-top: 10px;
}
.skills .bar {
  height: 10px;
  background-color: rgb(224, 213, 189);
  padding: 10px 10px 30px 10px;
  cursor: pointer;
  border-radius: 5px;
}
.skills .bar:hover {
  background-color: #ffff;
}
.bar .nilai {
  height: 20px;
  background-color: rgb(51, 98, 160);
  display: inline-block;
  text-align: center;
  color: lightcyan;
  border-radius: 5px;
}
.html {
  width: 90%;
}
.css {
  width: 75%;
}
.boot {
  width: 80%;
}
.js {
  width: 70%;
}
.reactjs {
  width: 55%;
}
.php {
  width: 80%;
}
.codeg {
  width: 85%;
}
.lara {
  width: 70%;
}
.sql {
  width: 75%;
}
.jquery {
  width: 65%;
}
.figma {
  width: 60%;
}
.excel {
  width: 75%;
}
#pendidikan {
  cursor: pointer;
  text-align: center;
  color: white;
  background-color: rgb(228, 225, 220);
  padding-bottom: 7px;
}
#pendidikan h4 {
  text-align: center;
  padding: 20px;
  padding-bottom: 30px;
}
.portfolio {
  cursor: pointer;
  background-color: rgb(228, 225, 220);
  color: white;
}
.port {
  width: 100%;
  display: flex;
  text-align: center;
  flex-direction: row;
  box-sizing: border-box;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px;
}
.batas {
  width: 28%;
  margin: 10px auto;
}
.portfolio h3 {
  text-align: center;
  padding: 20px;
  color: white;
}
.portfolio p {
  color: white;
}

.coll4 img {
  width: 100%;
  border-radius: 5px;
}

@media (max-width: 760px) {
  .batas {
    width: 100%;
    text-align: center;
    padding: 5px;
  }
}
.contact h4 {
  /* color: white; */
}
.contact p {
  color: white;
}

@media (max-width: 760px) {
  .col4 {
    width: 100%;
    /* margin: 3px; */
  }
  .skills {
    margin: 3px;
  }
}
.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgb(228, 225, 220);
  color: white;
}
.contact .col4 {
  padding: 10px;
}
.batas p {
  padding: 10px;
}
#mdia p {
  padding: 10px 0;
  float: left;
  width: 100px;
  font-size: small;
  padding: auto;
}
section {
  padding-top: 5rem;
  background-color: #f6f6f3;
  margin-bottom: 0px;
  margin-left: 3px;
  margin-right: 3px;
}
.slide {
  overflow: hidden;
}

.slide figure div {
  width: 25%;
  float: left;
}
.slide figure img {
  width: 100%;
}
.slide figure {
  position: relative;
  z-index: inherit;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 15s anim infinite;
}
@keyframes anim {
  0% {
    left: 0%;
  }
  10% {
    left: -100%;
  }
  20% {
    left: -100%;
  }
  30% {
    left: 0%;
  }
  40% {
    left: -200%;
  }
  50% {
    left: -200%;
  }
  60% {
    left: -100%;
  }
  70% {
    left: -100%;
  }
  80% {
    left: -200%;
  }
  90% {
    left: -200%;
  }
  100% {
    left: 0%;
  }
}

.slide2 {
  overflow: hidden;
}

.slide2 figure div {
  width: 25%;
  float: left;
}
.slide2 figure img {
  width: 100%;
}
.slide2 figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 20s anim2 infinite;
}
@keyframes anim2 {
  0% {
    left: 0%;
  }
  10% {
    left: -100%;
  }
  20% {
    left: -100%;
  }
  30% {
    left: 0%;
  }
  40% {
    left: -200%;
  }
  50% {
    left: -200%;
  }
  60% {
    left: -100%;
  }
  70% {
    left: -100%;
  }
  80% {
    left: -200%;
  }
  90% {
    left: -200%;
  }
  100% {
    left: 0%;
  }
}
.warna {
  color: #990a0a;
}
