* {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma;
}
body {
  overflow-x: hidden;
}
header {
  width: 100%;
  background-color: #415c54;
  position: fixed;
  z-index: 4;
}
header h3 {
  display: inline-block;
  padding: 15px 0px;
  text-transform: capitalize;
  color: rgb(188, 231, 31);
}
header ul li {
  padding: 24px;
  display: inline-block;
}
header ul li a {
  color: rgb(188, 231, 31);
  font-size: large;
  text-decoration: none;
}
header ul {
  float: right;
}
header h4:hover {
  transition: 0.3s;
}

header ul li a:hover {
  color: rgb(231, 208, 31);
  transition: 0.3s;
}
a {
  text-decoration: none;
}
.container {
  margin: 0 auto;
  width: 90%;
}

.container::after {
  content: "";
  display: block;
  clear: both;
}
.mobile-menu {
  float: right;
  display: none;
  padding: 18px 10px;
  right: -3000px;
}
.mobile-menu:hover {
  color: rgb(188, 231, 31);
}
@media (max-width: 760px) {
  .mobile-menu {
    display: block;
  }
  header ul li {
    display: none;
    transition: 0.5s;
  }
}
.sidebar {
  position: fixed;
  top: 4rem;
  left: 0;
  height: 100%;
  bottom: 0;
  left: -300px;
  width: 200px;
  background: #415c54;
  transition: 0.3s;
  opacity: 0.9;
  cursor: pointer;
  z-index: 3;
}
.sidebar:hover {
  left: -300px;
}
.sidebar ul li a {
  font-size: normal;
  color: rgb(188, 231, 31);
  position: relative;
}
.sidebar ul li {
  padding: 20px;
  transition-property: background-color;
}
.sidebar ul li:hover {
  background-color: rgb(14, 8, 8);
}
#check {
  display: none;
}
.check:checked ~ .sidebar {
  left: 0px;
}
.banner {
  padding: 10px 0px;
  border: 1px black;
}
.banner img {
  margin-top: 80px;
  margin-bottom: 20px;
  padding-left: 0;
  padding-right: 0;
  width: 35%;
  border-radius: 100%;
}
.banner img:hover {
  transform: scale(1.2);
}
.banner h2,
p {
  color: rgb(15, 24, 6);
  padding-top: 0;
}
.about {
  color: black;
  text-align: center;
  padding-bottom: 20px;
}

#about h3 {
  padding: 10px;
}

#about p {
  text-align: justify;
  justify-content: center;
  text-indent: 20px;
  line-height: 20px;
}

.skills h3 {
  padding: 20px;
  text-align: center;
}

.skills .bar {
  height: 15px;
  background-color: #415c54;
  margin-top: 5px 0 20px 0;
  color: rgb(12, 7, 7);
  padding: 15px;
  cursor: pointer;
}
.skills .bar:hover {
  background-color: #ffff;
}
.bar .nilai {
  height: 20px;
  background-color: rgb(188, 231, 31);
  display: inline-block;
  text-align: center;
}
.html {
  width: 100%;
}
.css {
  width: 56%;
}
.js {
  width: 70%;
}
.php {
  width: 89%;
}
.codeg {
  width: 90%;
}
.lara {
  width: 70%;
}
.sql {
  width: 70%;
}
#pendidikan {
  cursor: pointer;
  text-align: center;
}
#pendidikan h4 {
  text-align: start;
  padding: 20px;
  padding-bottom: 30px;
}
.portfolio {
  cursor: pointer;
}
.port {
  width: 100%;
  display: flex;
  text-align: center;
  flex-direction: row;
  box-sizing: border-box;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px;
}
.batas {
  width: 28%;
  margin: 10px auto;
}
.portfolio h3 {
  text-align: center;
  padding: 20px;
}

.col-4 img {
  width: 100%;
  border-radius: 5px;
}

@media (max-width: 760px) {
  .batas {
    width: 100%;
    text-align: center;
    padding: 5px;
  }
}
.contact h4 {
  color: #415c54;
}

@media (max-width: 760px) {
  .col4 {
    width: 100%;
    padding: 0;
    float: left;
  }
}
.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.contact .col4 {
  padding: 10px;
}
.batas p {
  padding: 10px;
}
#mdia p {
  padding: 10px 0;
  float: left;
  width: 100px;
  font-size: small;
  padding: auto;
}
section {
  padding-top: 5rem;
  background-color: #f6f6f3;
  margin-bottom: 0;
}
.slide {
  overflow: hidden;
}

.slide figure div {
  width: 25%;
  float: left;
}
.slide figure img {
  width: 100%;
}
.slide figure {
  position: relative;
  z-index: inherit;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 15s anim infinite;
}
@keyframes anim {
  0% {
    left: 0%;
  }
  10% {
    left: -100%;
  }
  20% {
    left: -100%;
  }
  30% {
    left: 0%;
  }
  40% {
    left: -200%;
  }
  50% {
    left: -200%;
  }
  60% {
    left: -100%;
  }
  70% {
    left: -100%;
  }
  80% {
    left: -200%;
  }
  90% {
    left: -200%;
  }
  100% {
    left: 0%;
  }
}

.slide2 {
  overflow: hidden;
}

.slide2 figure div {
  width: 25%;
  float: left;
}
.slide2 figure img {
  width: 100%;
}
.slide2 figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 20s anim2 infinite;
}
@keyframes anim2 {
  0% {
    left: 0%;
  }
  10% {
    left: -100%;
  }
  20% {
    left: -100%;
  }
  30% {
    left: 0%;
  }
  40% {
    left: -200%;
  }
  50% {
    left: -200%;
  }
  60% {
    left: -100%;
  }
  70% {
    left: -100%;
  }
  80% {
    left: -200%;
  }
  90% {
    left: -200%;
  }
  100% {
    left: 0%;
  }
}
.warna {
  color: #990a0a;
}
